{% extends '::layout.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="white text-center">Twoja wiadomość zosała wysłana poprawnie</h5>
                    </div>
                    <div class="panel-body text-center">
                        <a class="text-center" href="{{ path('homepage') }}">Powrót do strony głównej</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}