{% extends '::admin_layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>W razie pytań zapraszam do kontaktu. </p>
            <h3>Dane kontaktowe</h3>
            <address>
                <strong>Daniel Gustaw</strong><br>
                Partęczyny 11<br>
                86-342 Lisnowo<br>
                <abbr title="Telefon">T:</abbr> +48 792 579 069
            </address>

            <address>
                <strong>E-mail</strong><br>
                <a href="mailto:gustaw.daniel@gmail.com">gustaw.daniel@gmail.com</a>
            </address>
        </div>
    </div>
</div>


{#{{ dump(debug) }}#}

{% endblock %}