{% extends '::admin_layout.html.twig' %}

{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Wynajmowane obiekty</div>
                    <div class="panel-body">
                        <div>
                            <ul class="nav nav-pills nav-justified">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Biura</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Place</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Magazyny</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Inne Lokalizacje</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <div id="sidebar">
                                        {{ render(controller(
                                        'AppBundle:Admin:offices',
                                        { 'max': 3 }
                                        )) }}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile">B</div>
                                <div role="tabpanel" class="tab-pane fade" id="messages">C</div>
                                <div role="tabpanel" class="tab-pane fade" id="settings">D</div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Treść strony</div>
                    <div class="panel-body">
                        <div class="btn btn-lg btn-danger">Telefony</div>
                        <div class="btn btn-lg btn-danger">Pozostałe</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Formularz kontaktowy</div>
                    <div class="panel-body">
                        <div class="btn btn-lg btn-success">Wiadomości</div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Dokumentacja</div>
                    <div class="panel-body">
                        <div class="btn btn-lg btn-success">Dokumentacja</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}